<li class="active">
    <a href="javascript:void(0)" class="waves-effect" data-action="gasto"><i class="fa fa-bar-chart-o"></i><span> Gasto </span><span class="pull-right"><i class="md md-chevron-right"></i></span></a>
</li>
<li>
    <a href="javascript:void(0)" class="waves-effect" data-action="gasto-utilidad"><i class="fa fa-bar-chart-o"></i><span> Gasto vs Utilidad </span><span class="pull-right"><i class="md md-chevron-right"></i></span></a>
</li>
<li class="has_sub">
    <a href="javascript:void(0)" class="waves-effect"><i class="md md-lock-open"></i><span> Cuenta </span><span class="pull-right"><i class="md md-add"></i></span></a>
    <ul>
        <li><a href="javascript:void(0)">Cambiar imagen</a></li>
        <li><a href="javascript:void(0)">Cambiar contraseña</a></li>
        <li><a href="javascript:void(0)" data-action="logout">Cerrar sesión</a></li>
    </ul>
</li>
