<li class="dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true"><img src="../images/sinfoto.png" alt="user-img" class="img-circle"> </a>
    <ul class="dropdown-menu">
        <li><a href="javascript:void(0)"><i class="md md-person"></i> Perfil</a></li>
        <li><a href="javascript:void(0)"><i class="md md-settings"></i> Configuración</a></li>
        <li><a href="javascript:void(0)" data-action="logout"><i class="md md-settings-power"></i> Cerrar sesión</a></li>
    </ul>
</li>
